
.titulo{
  font-family: 'Rubik', sans-serif;  
  margin-bottom: 20%;
  color:  whitesmoke;
  text-shadow: 1px 3px 5px rgba(18, 55, 92, 0.75);
}

.seccion {
  padding: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-image: url("../assets/Img/Day.png");

  text-align: center;
  display: flex;
  justify-content: center;

  border-radius: 1.5%;
  box-shadow: 0 0.2rem 0.3rem 0.2rem rgba(0, 0, 0, 0.3);
  height: 700px;
  width: 400px;
  display: flex;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.box-info {
  margin: 0 auto;
  padding: auto;

  border-radius: 5%;
  background-image: linear-gradient(#fdfdfd5d, #f0eff33f);
  width: 300px;
  height: 200px;

  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

div.detalle {
  width: 100%;
  margin: 3rem auto;
  color: rgb(63, 62, 62);
}

div.detalle img.derecha {
  float: right;
  margin-left: 5px;
  width: 0 auto;
}

.derecha {
  width: 60%;
  height: 110%;
}

div.reset {
  clear: both;
}

.textTi {
  
  text-align: center;
  margin: auto;
  padding: .6rem;
  color:  whitesmoke;
  text-shadow: 1px 3px 5px rgb(0, 0, 0);
}

.textTe {

  text-align: center;
  margin: auto;
  padding: .6rem;
  color:  whitesmoke;
  text-shadow: 1px 3px 5px rgb(0, 0, 0);
}


.datos {
  text-align: center;
  display: flex;
  justify-content: center;

  margin-bottom: 5rem;
}

.form {
  height: 40px;
  border-radius: 5px;
  border-color: #f0eff37a;
  background-color: #f0eff3ab;

  padding-left:  1rem;
  outline: none;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);

  color:  whitesmoke;
  text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.75);
}
input::placeholder{
  color:  whitesmoke;
  text-shadow: 1px 3px 5px rgb(0, 0, 0);
}

.bn632-hover {
  width: 70px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 5px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;

  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn26 {
  background-image: linear-gradient(to right,
      #25aae1,
      #4481eb,
      #04befe,
      #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
