
<h1 class="titulo">{{titulo}}</h1>

<div class="seccion">
    
  <div class="card">
    <div class="datos">
      <form (submit)="submitLocation(cityName)">
        <input type="text" class="form" placeholder="Ciudad" name="" id="" #cityName>
        <button class="bn632-hover bn26">Buscar</button>
      </form>
  </div>
    <!-- <img class="img" src="../assets/Img/Day.png" alt=""> -->
    <div  class="box-info">
      <div *ngIf="weather">
        <p>Ciudad: {{weather.name}}</p>
        <p>Temperatura: {{weather.main.temp}}</p>
        <p>Viento: {{weather.wind.speed}}</p>
        <p>Description {{weather.weather[0].description}}</p>
      </div>      
    </div>
  </div>
</div>

